html,body, canvas{
  height:140%!important;
  width: 100%!important;
  overflow:hidden;
}
body{
  margin: 0!important;
  border-top:4px solid #38CAA6;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding-top: 50px;
  width: 100%;
  height: 100%;
}
.login-container {
  position: relative;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  background-clip: padding-box;
  margin: 0 auto 30px auto;
  width: 260px;
  padding: 35px 35px 15px 35px;
  background: #fff;
  border: 1px solid #eaeaea;
  /*box-shadow: 0 0 25px #cac6c6;*/
}
/*做出边框小三角的样式*/
.login-container:before {
  content: '';
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #eaeaea;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
}
.login-container:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-color: #FFFFFF;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -7px;
}
.el-form-item.is-required .el-form-item__label:before{
  content: initial !important;
}
.el-checkbox__input.is-checked .el-checkbox__inner{
  background-color:rgb(56,202,166)!important;
  border-color:rgb(56,202,166)!important;
}
.el-checkbox__inner{
  width: 15px!important;
  height: 15px!important;
  position: initial!important;
}
.el-checkbox__inner:hover{
  border-color:rgb(56,202,166)!important;
}
.el-checkbox__label{
  font-size: 12px!important;
  padding-left: 8px!important;
}
.el-input__inner{
  border-color: rgb(221,221,221)!important;
}
.remember{
  color: #999999!important;
  font-size: 12px;
}
.forgetPwd{
  text-decoration: none;
  color: #999999;
  font-size: 12px;
}
.nextButton{
  width: 100%;
  /*margin-top: 15px!important;*/
  border-color:#38CAA6!important;
  background-color: #38CAA6!important;
}
.noAccount{
  color: #999999;
  font-size: 12px;
}
.register{
  padding-right: 5px;
  text-decoration: none;
  color: #39CAA6;
  font-size: 16px;
}
/*注册详情的单选框*/
.el-radio-group{
  width: 300px!important;
}
.el-radio-button__inner{
  padding: 7px 8px!important;
}
.codeButton{
  margin-left: 20px!important;
  margin-top: 0!important;
  font-size: 13px!important;
  padding-left: 10px!important;
}
.el-form-item{
  margin-bottom: 18px!important;
}
.registerStep{
  margin: 0 20px;
  color: #CCCCCC;
  font-size: 13px;
  text-decoration: none;
}
.highlight{
  margin: 0 20px;
  color: rgb(57,202,166);
  font-size: 13px;
}
.back{
  color: #666666;
  font-size: 13px;
  text-decoration: none;
}
.tip{
  font-size: 12px;
  color: #999999;
}
.agreeMsg{
  text-align: left;
  margin-bottom: 20px;
}
.companyType{
  color: #999999!important;
}
.el-radio__inner:hover{
  border-color:rgb(56,202,166)!important;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner{
  /*border: 2px solid rgb(56,202,166)!important;*/
  border-color:rgb(56,202,166)!important;
  background:none!important;
  color: rgb(56,202,166)!important;
  box-shadow: -1px 0 0 0 rgb(56,202,166)!important;
}
.el-radio-button:last-child .el-radio-button__inner{
  border-radius: 0!important;
}
.el-radio-button:first-child .el-radio-button__inner{
  border-radius: 0!important;
}
.el-radio-button__inner:hover{
  color: rgb(56,202,166)!important;
}
.successButton{
  width: 70%;
  height: 40px;;
  border-color:#38CAA6!important;
  background-color: #38CAA6!important;
}
