/*引入icon*/
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.el-row{
  margin-bottom: 10px!important;
  padding: 0px!important;
  border-radius: 4px!important;
}
.el-card{
  border: 0px!important;
  box-shadow: none!important;
}
.el-card__header{
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  height: 40px!important;
}
.el-card__body{padding-top: 12px!important;}
.el-table th.is-leaf{
  border-bottom: 0px!important;
  background-color: transparent;
}
.el-table td{
  border-bottom: 0px!important;
  background-color: rgb(242,242,242);
  height: 55px!important;
}
.el-table__fixed-header-wrapper thead div, .el-table__header-wrapper thead div{
  background-color: rgb(201,201,201)!important;
  width: 100%;
}
/*.el-card__body{*/
/*height: 90px;*/
/*}*/
.showName{     /*.主页中的四个卡片上的名称*/
  font-size: 10px!important;
  color: #666666;
}
.showNum{     /*.主页中的四个卡片上的数量*/
  font-size: 24px;
}
.showCard{    /*.主页中的四个卡片上的背景*/
  /*width: 260px;*/
  width: 100%;
  height: 80px;
  background-image: url("../../module/index/assets/bg.png");
  background-repeat: no-repeat;
  float: right!important;
}
.showMesg{
  margin-left: 10%;
  float: left;
  /*margin-top: 13px;*/
}
.el-row-header{
  /*background-color: rgb(242,246,247);*/
  background-color: rgb(248,248,248);
  /*background-color: darkseagreen;*/
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  border-radius: 1%;
  padding-left: 15px;
  color: #666666;
  border-bottom: 1px solid #EEEEEE;
}
.mycard1 {
  /*width: 90% !important;*/
  float: inherit !important;
  /*margin: 10px auto !important;*/
  /*background-color: rgba(242,242,242,1)*/
}

.mycard1 .el-row {
  margin-bottom: 0 !important;
}

.mycard1 .el-col {
  text-align: center;
  box-sizing: border-box;
  padding: 5px 0;
}

.mybox {
  margin: 0 auto !important;
  border: 1px solid rgb(138,176,200)!important;
  border-radius: 0px!important;
}

.mybox .el-card__header {
  padding: 0px!important;
}

/*.mycard11 .row-padding-bottom {*/
/*box-sizing: border-box;*/
/*padding-bottom: 10px;*/
/*}*/
.detailButton{
  float: right;
  line-height: 30px!important;
  padding-right: 5px!important;
  color: #666666!important;
}
.msgName{
  text-align: left!important;
  font-size: 12px;
  color: #666666;
}
.keynote{
  font-weight: bold;
}
.buyerColor{
  color: #0096D7;
}
.sellerColor{
  color: rgb(57,202,166);;
}
.stateShow{
  margin-left: 10px;
  font-size: 14px;
  text-align: left!important;
  font-weight: bold;
}
.statePosition{
  border-bottom:none;
  margin-bottom: 20px;
}
.dataTable{
  border: 1px solid rgb(238,238,238);
  /*height: 120px;*/
  height: auto;
  border-radius: 4px;
  padding: 10px;
  background-color: white;

}
.el-row-content{
  font-size: 12px!important;
  color: rgb(51,51,51);
  /*height: 80px;*/
  line-height: 22px;
}
.el-tabs__item{
  color: rgb(102,102,102)!important;
  font-weight: bold;
}
.el-tabs__item.is-active{
  color: #0096D7!important;
}
.doTip{
  margin:0 10px 0 30px;
  color: rgb(102,102,102);
  font-size: 13px;
}
.dotipRow{
  background-color: #F8F8F8;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.cutoff{
  padding-bottom: 10px!important;
  margin-bottom: 10px!important;
  border-bottom: 1px dashed rgb(221, 221, 221);
}



.signout .mybox {
  margin-bottom: 20px !important;
}

.signout .el-form-item__label {
  width: 30% !important;
  color: rgb(51,51,51);
}

.signout .el-select .el-input {
  width: 100% !important;
  margin: 0px 0.2%!important;
}

.signout .el-select, .el-input {
  width: 65% !important;
  margin: 0px 2%!important;
}
.deliver .mybox {
  margin-bottom: 20px !important;
}

.deliver .el-form-item__label {
  width: 30% !important;
  color: rgb(51,51,51);
}

.deliver .el-select .el-input {
  width: 100% !important;
  margin: 0px 0.2%!important;
}

.deliver .el-select, .el-input {
  width: 65% !important;
  margin: 0px 2%!important;
}


.signout .el-button {
  float: left;
  width: 30%;
  border-radius: 4px;
  margin: 20px 0;
}
.discount .el-select .el-input {
  width: 100% !important;
  margin: 0px 0.2%!important;
}

.discount .el-select, .el-input {
  width: 65% !important;
  margin: 0px 2%!important;
}
.discount .el-form-item__label {
  width: 30% !important;
  color: rgb(51,51,51);
}
.discount .el-button {
  float: left;
  width: 40%;
  border-radius: 4px;
  margin: 20px 0;
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.discount .el-button:hover{
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.defaultMsg{    /*信息中默认填写的*/
  padding-left: 10px;
  font-size: 12px;
}
.combinedShape{
  float: left;
  margin-right: 0.5%;
}
.bread{
  margin-bottom: 23px
}
.buyerStepTitle{
  color:rgb(0,150,215);
  line-height: 50px;
  font-size: 14px;
}
.sellerStepTitle{
  color: rgb(57,202,166);
  line-height: 50px;
  font-size: 14px;
}
.waybill .el-tabs__item.is-active{
  color:rgb(57,202,166)!important;
}
.waybill .el-tabs__active-bar{
  background-color: rgb(57,202,166);
}
.confirmOrder .mybox {
  margin-bottom: 20px !important;
}

.confirmOrder .el-form-item__label {
  width: 30% !important;
  color: rgb(51,51,51);
}

.confirmOrder .el-select .el-input {
  width: 100% !important;
  margin: 0px 0.2%!important;
}

.confirmOrder .el-select, .el-input {
  width: 65% !important;
  margin: 0px 2%!important;
}
.confirmOrder .el-button {
  float: left;
  width: 20%;
  border-radius: 4px;
  margin: 10px 0;
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.confirmCard .el-card__body{
  border: 1px solid rgb(238,238,238);
}
