/*引入icon*/
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.el-form-item__content{
  top: 4px;
}
.el-row{
  margin-bottom: 10px!important;
  padding: 0px!important;
  border-radius: 4px!important;
}
.el-card{
  border: 0px!important;
  box-shadow: none!important;
}
.el-card__header{
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  height: 40px!important;
}
.el-card__body{
  padding-top: 12px!important;
}
.el-table th.is-leaf{
  border-bottom: 0px!important;
  background-color: transparent;
}
.el-table td{
  border-bottom: 0px!important;
  background-color: rgb(242,242,242);
  height: 55px!important;
}
.el-table__fixed-header-wrapper thead div, .el-table__header-wrapper thead div{
  background-color: rgb(201,201,201)!important;
  width: 100%;
}
/*首页的location图标*/
.combinedShape{
  float: left;
  margin-right: 0.3%;
}
/*主页中的四个卡片上的名称*/
.showName{
  font-size: 10px!important;
  color: #666666;
}
/*.主页中的四个卡片上的数量*/
.showNum{
  font-size: 24px;
}
/*.主页中的四个卡片上的背景*/
.showCard{
  /*width: 260px;*/
  width: 100%;
  height: 80px;
  background-image: url("../../module/index/assets/bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
/*.主页中的四个卡片上的信息*/
.showMesg{
  margin-left: 10%;
  float: left;
}
/*面包屑*/
.bread{
  margin-bottom: 23px
}
.buyerColor{
  color: #0096D7;
}
.sellerColor{
  color: rgb(57,202,166);
}
/*买卖家操作步骤标题样式，第一二三步之类的*/
.buyerStepTitle{
  color:rgb(0,150,215);
  line-height: 50px;
  font-size: 14px;
}
.sellerStepTitle{
  color: rgb(57,202,166);
  line-height: 50px;
  font-size: 14px;
}
/*数据列表的首要表头*/
.el-row-header{
  background-color: rgb(248,248,248);
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  border-radius: 1%;
  padding-left: 15px;
  color: #666666;
  border-bottom: 1px solid #EEEEEE;
}
/*数据列表的内容*/
.el-row-content{
  font-size: 12px!important;
  color: rgb(51,51,51);
  /*height: 80px;*/
  line-height: 22px;
}
/*慎用，参照已用页面*/
.dataTable{
  border: 1px solid rgb(238,238,238);
  height: auto;
  border-radius: 4px;
  padding: 10px;
  background-color: white;
}
.mycard1 {
  float: inherit !important;
}
.mycard1 .el-row {
  margin-bottom: 0 !important;
}
.mycard1 .el-col {
  text-align: center;
  box-sizing: border-box;
  padding: 5px 0;
}
.mybox {
  margin: 0 auto !important;
  border: 1px solid rgb(203,221,225)!important;
  border-radius: 4px!important;
}
.mybox .el-card__header {
  padding: 0px!important;
}
/*四个状态信息的查询详情按钮*/
.detailButton{
  float: right;
  line-height: 30px!important;
  padding-right: 5px!important;
  color: #666666!important;
}
/*订单等页面内容的字段名称*/
.msgName{
  text-align: left!important;
  font-size: 12px;
  color: #666666;
}
/*重要的信息，加粗*/
.keynote{
  font-weight: bold;
}
/*信息详情中的状态*/
.stateShow{
  margin-left: 10px;
  font-size: 14px;
  text-align: left!important;
  font-weight: bold;
}
/*信息详情中的状态位置*/
.statePosition{
  border-bottom:none;
  margin-bottom: 20px;
}
/*标签页的字体颜色*/
.el-tabs__item{
  color: rgb(102,102,102)!important;
  font-weight: bold;
}
/*标签页的选中字体颜色*/
.el-tabs__item.is-active{
  color: #0096D7!important;
}
/*提示用户接下来操作的信息*/
.doTip{
  margin:0 10px 0 30px;
  color: rgb(102,102,102);
  font-size: 13px;
}
.dotipRow{
  background-color: #F8F8F8;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
/*显示信息的卡片中需要添加分割线的*/
.cutoff{
  padding-bottom: 10px!important;
  margin-bottom: 10px!important;
  border-bottom: 1px dashed rgb(221, 221, 221);
}
/*发货页面的样式*/
.deliver .mybox {
  margin-bottom: 20px !important;
}
.deliver .el-form-item__label {
  /*width: 20% !important;*/
  color: rgb(51,51,51);
  text-align: left;
}

.deliver .el-select .el-input {
  width: 100% !important;
  margin: 0px 0.2%!important;
}
.deliver .el-select, .el-input {
  width: 65% !important;
  margin: 0px 2%!important;
}
.deliver .el-tabs__item.is-active{
  color:rgb(57,202,166)!important;
}
.deliver .el-tabs__active-bar{
  background-color: rgb(57,202,166);
}
.deliver .el-button{
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.deliver .el-button:hover{
   background-color: rgb(57,202,166);
   border-color: rgb(57,202,166);
 }
/*签发页面的样式*/
.signout .mybox {
  margin-bottom: 20px !important;
}
.signout .el-button {
  float: left;
  width: 30%;
  border-radius: 4px;
  margin: 20px 0;
}
.signout .el-form-item__label {
  width: 30% !important;
  float: none;
  margin-left: 2%;
}
.signout .el-select{
  width: 100%!important;
}
.signout .el-input{
  width: 90%!important;
}
.signoutMsg .el-row{
  height: 70px!important;
}
.signout .el-card{
  border: 1px solid rgb(238,238,238)!important;
  padding-bottom: 10px!important;
}
/*签发页面有些选择框样式不一样，所以单独定义*/
.pyer .el-input{
  width: 95%!important;
  margin-left: 1%!important;
}
.pyer .el-form-item__label{
  margin-left: 1%;
}
.pyee .el-input{
  width: 95%!important;
  margin-left: 1%!important;
}
.pyee .el-form-item__label{
  margin-left: 1%;
}
/*贴现页面样式*/
.discount .el-select .el-input {
  width: 100% !important;
  margin: 0px 0.2%!important;
}
.discount .el-select, .el-input {
  width: 65% !important;
  margin: 0px 2%!important;
}
.discount .el-form-item__label {
  /*width: 10% !important;*/
  color: rgb(51,51,51);
}
.discount .el-button {
  float: left;
  width: 40%;
  border-radius: 4px;
  margin: 20px 0;
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.discount .el-button:hover{
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.waybill .el-tabs__item.is-active{
  color:rgb(57,202,166)!important;
}
.waybill .el-tabs__active-bar{
  background-color: rgb(57,202,166);
}
/*确认订单样式*/
.confirmOrder .mybox {
  margin-bottom: 20px !important;
}

.confirmOrder .el-form-item__label {
  width: 30% !important;
  color: rgb(51,51,51);
  float: none;
  margin-left: 2%;
}

.confirmOrder .el-select .el-input {
  width: 100% !important;
  margin: 0px 0.2%!important;
}

.confirmOrder .el-select, .el-input {
  width: 90% !important;
  margin: 0px 2%!important;
}
.confirmOrder .el-button {
  float: left;
  width: 20%;
  border-radius: 4px;
  margin: 10px 0;
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
/*.confirmOrder .el-button--primary:focus, .el-button--primary:hover{*/
  /*background-color: rgb(57,202,166)!important;*/
  /*border-color: rgb(57,202,166)!important;*/
/*}*/
.confirmOrder .el-button:hover{
background-color: rgb(57,202,166)!important;
border-color: rgb(57,202,166)!important;
}
.confirmOrder .el-button:focus{
  background-color: rgb(57,202,166)!important;
  border-color: rgb(57,202,166)!important;
}
.confirmCard .el-card__body{
  border: 1px solid rgb(238,238,238);
}

/*弹出框样式*/
.modal-confirm .el-form-item__label {
  width: 45% !important;
  height: 31px;
  color: rgb(102,102,102)!important;
  background-color:rgb(248,248,248);
  line-height: 11px!important;
}
.modal-confirm .el-row{
  margin-bottom: 0px!important;
}
.modal-confirm .el-col-12{
  height: 31px;
}
.modal-confirm .el-button{
  width: 20%;
  float: right;
  margin-right: 2.5%;
  border-radius: 3px;
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.modal-confirm .el-button:hover{
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.modal-confirm .el-form-item__content{
  top: 0px!important;
  border: 1px solid rgb(238,238,238);
  line-height: 30px;
  font-size: 12px;
}
.modal-confirm .el-label{
  margin-left: 3%!important;
}
li .el-menu-item{
  padding-left: 28.4%!important;
}
/*.el-icon-arrow-down:before{
  content: ""!important;
}*/
.el-submenu .el-menu-item:hover, .el-submenu__title:hover{
  background-color: #f4f4f4!important;
}

body{
  min-width: 1230px!important;
  overflow: auto;
}
.el-menu{
  height: 100%;
}
/*详情页面详情模块的icon位置*/
.detailIcon{
  margin-right: 0.3%;
  font-size: 12px;
}
/*详情内容的位置*/
.detailContent{
  margin-left: 13px;
}
/*确认订单此类的操作按钮*/
/*.operateBtn{*/
  /*color: rgb(57,202,166)!important;*/
  /*height: 22px;*/
  /*text-align: center;*/
/*}*/

/*查看详情操作的按钮*/
/*.detailBtn{*/
  /*text-align: center!important;*/
  /*height: 25px;*/
  /*margin-left: -4px!important;*/
  /*margin-top: 5px!important;*/
/*}*/
.agreeBtn{
  width:50%;
  margin-top:15px!important;
}
.closeBtn{
  margin-right: 15px;
  line-height: 40px!important;
  float: right;
}
/*物流公司确认发货页面*/
.sendConfirm .el-button:hover{
   background-color: rgb(57,202,166);
   border-color: rgb(57,202,166);
 }
.sendConfirm .el-button{
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.sendConfirm .el-button:focus{
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
/*物流公司收货确认页面*/
.receiveConfirm .el-button:hover{
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.receiveConfirm .el-button{
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.receiveConfirm .el-button:focus{
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.inConfirm .el-input{
  width: 65%!important;
}
.el-input.is-disabled .el-input__inner{
  color: black!important;
}

