/*引入icon*/
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.el-form-item__content{
  top: 4px;
}
.el-row{
  margin-bottom: 10px!important;
  padding: 0!important;
  border-radius: 4px!important;
}
.el-card{
  border: 0!important;
  box-shadow: none!important;
}
.el-card__header{
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  height: 40px!important;
  border-bottom: 1px solid #eeeeee!important;
}
.el-card__body{
  padding-top: 12px!important;
}
.el-table th.is-leaf{
  border-bottom: 0!important;
  background-color: transparent;
}
.el-table td{
  border-bottom: 0!important;
  background-color: rgb(242,242,242);
  height: 55px!important;
}
.el-table__fixed-header-wrapper thead div, .el-table__header-wrapper thead div{
  background-color: rgb(201,201,201)!important;
  width: 100%;
}
/*首页的location图标*/
.combinedShape{
  float: left;
  margin-right: 0.3%;
}
/*主页中的四个卡片上的名称*/
.showName{
  font-size: 10px!important;
  color: #666666;
}
/*.主页中的四个卡片上的数量*/
.showNum{
  font-size: 24px;
}
/*.主页中的四个卡片上的背景*/
.showCard{
  /*width: 260px;*/
  width: 100%;
  height: 80px;
  background: url("../../module/index/assets/bg.png") no-repeat bottom right;
}
/*.主页中的四个卡片上的信息*/
.showMesg{
  margin-left: 10%;
  float: left;
}
/*面包屑*/
.bread{
  margin-bottom: 14px;
}
.buyerColor{
  color: #0096D7;
}
.sellerColor{
  color: rgb(57,202,166);
}
/*买卖家操作步骤标题样式，第一二三步之类的*/
.buyerStepTitle{
  color:rgb(0,150,215);
  line-height: 50px;
  font-size: 14px;
}
.sellerStepTitle{
  color: rgb(57,202,166);
  line-height: 50px;
  font-size: 14px;
}
/*数据列表的首要表头*/
.el-row-header{
  background-color: rgb(248,248,248);
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  border-radius: 1%;
  padding-left: 15px;
  color: #666666;
  border-bottom: 1px solid #EEEEEE;
}
/*数据列表的内容*/
.el-row-content{
  font-size: 12px!important;
  color: rgb(51,51,51);
  /*height: 80px;*/
  line-height: 22px;
}
/*慎用，参照已用页面*/
.dataTable{
  border: 1px solid rgb(238,238,238);
  height: auto;
  border-radius: 4px;
  padding: 10px;
  background-color: white;
}
.mycard1 {
  float: inherit !important;
}
.mycard1 .el-row {
  margin-bottom: 0 !important;
}
.mycard1 .el-col {
  text-align: center;
  box-sizing: border-box;
  padding: 5px 0;
}
.mybox {
  margin: 0 auto !important;
  border: 1px solid rgb(203,221,225)!important;
  border-radius: 4px!important;
}
.mybox .el-card__header {
  padding: 0!important;
}
/*四个状态信息的查询详情按钮*/
.detailButton{
  float: right;
  line-height: 30px!important;
  padding-right: 5px!important;
  color: #666666!important;
}
/*订单等页面内容的字段名称*/
.msgName{
  text-align: left!important;
  font-size: 12px;
  color: #666666;
}
/*重要的信息，加粗*/
.keynote{
  font-weight: bold;
}
/*信息详情中的状态*/
.stateShow{
  margin-left: 10px;
  font-size: 14px;
  text-align: left!important;
  font-weight: bold;
}
/*信息详情中的状态位置*/
.statePosition{
  border-bottom:none;
  margin-bottom: 20px;
}
/*标签页的字体颜色*/
.el-tabs__item{
  color: rgb(102,102,102)!important;
  font-weight: bold;
}
/*提示用户接下来操作的信息*/
.doTip{
  margin:0 10px 0 30px;
  color: rgb(102,102,102);
  font-size: 13px;
}
.dotipRow{
  background-color: #F8F8F8;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
/*显示信息的卡片中需要添加分割线的*/
.cutoff{
  padding-bottom: 10px!important;
  margin-bottom: 10px!important;
  border-bottom: 1px dashed rgb(221, 221, 221);
}
/*发货页面的样式*/
.deliver .mybox {
  margin-bottom: 20px !important;
}
.deliver .el-form-item__label {
  /*width: 20% !important;*/
  color: rgb(51,51,51);
  text-align: left;
}

.deliver .el-select .el-input {
  width: 100% !important;
  margin: 0 0.2%!important;
}
.deliver .el-select, .el-input {
  width: 65% !important;
  margin: 0 2%!important;
}
.deliver .el-tabs__item.is-active{
  color:rgb(57,202,166)!important;
}
.deliver .el-tabs__active-bar{
  background-color: rgb(57,202,166);
}
.deliver .el-button{
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.deliver .el-button:hover{
   background-color: rgb(57,202,166);
   border-color: rgb(57,202,166);
 }
/*签发页面的样式*/
.signout .mybox {
  margin-bottom: 20px !important;
}
.signout .el-button {
  float: left;
  width: 30%;
  border-radius: 4px;
  margin: 20px 0;
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.signout .el-button:hover {
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.signout .el-form-item__label {
  width: 30% !important;
  float: none;
  margin-left: 2%;
}
.signout .el-select{
  width: 100%!important;
}
.signout .el-input{
  width: 90%!important;
}
.signoutMsg .el-row{
  height: 70px!important;
}
.signout .el-card{
  border: 1px solid rgb(238,238,238)!important;
  padding-bottom: 10px!important;
}
/*签发页面有些选择框样式不一样，所以单独定义*/
.pyer .el-input{
  width: 95%!important;
  margin-left: 1%!important;
}
.pyer .el-form-item__label{
  margin-left: 1%;
}
.pyee .el-input{
  width: 95%!important;
  margin-left: 1%!important;
}
.pyee .el-form-item__label{
  margin-left: 1%;
}
/*贴现页面样式*/
.discount .el-select .el-input {
  width: 100% !important;
  margin: 0 0.2%!important;
}
.discount .el-select, .el-input {
  width: 65% !important;
  margin: 0 2%!important;
}
.discount .el-form-item__label {
  /*width: 10% !important;*/
  color: rgb(51,51,51);
}
.discount .el-button {
  float: left;
  width: 40%;
  border-radius: 4px;
  margin: 20px 0;
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.discount .el-button:hover{
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.waybill .el-tabs__item.is-active{
  color:rgb(57,202,166)!important;
}
.waybill .el-tabs__active-bar{
  background-color: rgb(57,202,166);
}
.waybill .el-button--text{
  color: rgb(57,202,166);
}
.waybill .el-button:hover{
  color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.waybill .el-pager li.active{
  border-color: rgb(57,202,166);
  background-color: rgb(57,202,166);
}
.waybill .el-pager li.hover{
  border-color: rgb(57,202,166);
  background-color: rgb(57,202,166);
}
/*确认订单样式*/
.confirmOrder .mybox {
  margin-bottom: 20px !important;
}

.confirmOrder .el-form-item__label {
  width: 30% !important;
  color: rgb(51,51,51);
  float: none;
  margin-left: 2%;
}

.confirmOrder .el-select .el-input {
  width: 100% !important;
  margin: 0 0.2%!important;
}

.confirmOrder .el-select, .el-input {
  width: 90% !important;
  margin: 0 2%!important;
}
.confirmOrder .el-button {
  float: left;
  width: 20%;
  border-radius: 4px;
  margin: 10px 0;
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.confirmOrder .el-button:hover{
background-color: rgb(57,202,166)!important;
border-color: rgb(57,202,166)!important;
}
.confirmOrder .el-button:focus{
  background-color: rgb(57,202,166)!important;
  border-color: rgb(57,202,166)!important;
}
.confirmCard .el-card__body{
  border: 1px solid rgb(238,238,238);
}

/*弹出框样式*/
.modal-confirm .el-form-item__label {
  width: 45% !important;
  height: 31px;
  color: rgb(102,102,102)!important;
  background-color:rgb(248,248,248);
  line-height: 11px!important;
}
.modal-confirm .el-row{
  margin-bottom: 0!important;
}
.modal-confirm .el-col-12{
  height: 31px;
}
.modal-confirm .el-button{
  width: 20%;
  float: right;
  margin-right: 2.5%;
  border-radius: 3px;
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.modal-confirm .el-button:hover{
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.modal-confirm .el-form-item__content{
  top: 0!important;
  border: 1px solid rgb(238,238,238);
  line-height: 30px;
  font-size: 12px;
}
.modal-confirm .el-label{
  margin-left: 3%!important;
}
li .el-menu-item{
  padding-left: 50px!important;
}
/*删掉导航栏的下拉图标*/
.el-menu .el-icon-arrow-down:before{
  content: ""!important;
}
.el-submenu .el-menu-item:hover, .el-submenu__title:hover{
  background-color: #f4f4f4!important;
}

body{
  min-width: 1230px!important;
  overflow: auto;
}
.el-menu{
  height: 100%;
}
/*详情页面详情模块的icon位置*/
.detailIcon{
  margin-right: 0.3%;
  font-size: 12px;
}
/*详情内容的位置*/
.detailContent{
  margin-left: 15px;
}
/*确认订单此类的操作按钮*/
/*.operateBtn{*/
  /*color: rgb(57,202,166)!important;*/
  /*height: 22px;*/
  /*text-align: center;*/
/*}*/

/*查看详情操作的按钮*/
/*.detailBtn{*/
  /*text-align: center!important;*/
  /*height: 25px;*/
  /*margin-left: -4px!important;*/
  /*margin-top: 5px!important;*/
/*}*/
.agreeBtn{
  width:50%;
  margin-top:15px!important;
}
.closeBtn{
  margin-right: 15px;
  line-height: 40px!important;
  float: right;
}
/*物流公司确认发货页面*/
.sendConfirm .el-button:hover{
   background-color: rgb(57,202,166);
   border-color: rgb(57,202,166);
 }
.sendConfirm .el-button{
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.sendConfirm .el-button:focus{
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
/*物流公司收货确认页面*/
.receiveConfirm .el-button:hover{
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.receiveConfirm .el-button{
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.receiveConfirm .el-button:focus{
  background-color: rgb(57,202,166);
  border-color: rgb(57,202,166);
}
.inConfirm .el-input{
  width: 65%!important;
}
.el-input.is-disabled .el-input__inner{
  color: rgb(68,68,68)!important;
  background-color: rgb(244,246,248)!important;
  border-color: rgb(221,221,221)!important;
}
.buyerCircle {
  width:16px;
  height:16px;
  background:#0096D7;
  line-height:16px;
  text-align:center;
  color:#fff;
  display:inline-block;
  border-radius: 50%;
  margin-right: 5px;
}
.sellerCircle {
  width:16px;
  height:16px;
  background:rgb(57,202,166);
  line-height:16px;
  text-align:center;
  color:#fff;
  display:inline-block;
  border-radius: 50%;
  margin-right: 5px;
}
.el-menu-item, .el-submenu__title
{
  height: 48px!important;
  width: 100%!important;
  min-width: 160px;
}
.el-menu-item[data-v-e569b42a], .el-submenu__title[data-v-e569b42a]{
  width: 100%!important;
}

.el-message {
  background-color:rgb(57,202,166);
  border-radius:5px;
}
/*尾部信息*/
.footMsg{
  margin-right: 30px;
  float: right;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: bold;
}
.discountMsg{
  font-size: 14px;
  line-height: 40px;
  margin-left: -39px;
  color: #666666;
}

/*layout页面*/
#wrapper{
  background: rgb(246,246,246);
}
/* 头部导航 */
.seller{
  z-index: 1000;height:60px;min-width: 1200px;
  background:-webkit-gradient(linear, 50 bottom, right bottom, from(rgb(57,202,166)), to(rgb(133,211,44))); /*兼容Safari／Chrome*/
  background:-moz-linear-gradient(left, rgb(57,202,166), rgb(133,211,44)); /*兼容Firefox*/
  transition: all 0.5s ease;}
.buyer{
  z-index: 1000;height:60px;min-width: 1200px;
  background:-webkit-gradient(linear, 0 bottom, right bottom, from(rgb(0,148,218)), to(rgb(0,176,182))); /*兼容Safari／Chrome*/
  background:-moz-linear-gradient(left, rgb(57,202,166), rgb(133,211,44)); /*兼容Firefox*/
  transition: all 0.5s ease;box-shadow: 0 2px 4px 0 rgba(0,0,0,.12),0 0 6px 0 rgba(0,0,0,.04);}
/*header.header-fixed{top: 0;left: 0;right: 0;}*/
header .el-menu-demo{
  padding-left: 300px!important;
}
.logo {
  width:230px;
  height:60px;
  color:white;
  font-size: 22px;
  padding-left:20px;
  padding-right:20px;
  padding-top:5px;
  border:0;
}
.userinfo{
  text-align: right;
  padding-top: 20px;
}
.el-dropdown{
  color: white!important;
  font-size: 14px!important;
}
.changeButton{
  font-size: 14px!important;
  height: 60px;
  background-color: transparent!important;
  border: 0!important;
  border-radius: 0 !important;
}
.borderBottom{
  border-top: 6px solid transparent!important;
  border-bottom: 6px solid white!important;
}
/* 主内容区 */
main{
  display: -webkit-box;display: -ms-flexbox;display: flex;  min-height: 800px;  border: 0 solid  #E9ECF1;  background-color: #FCFCFC;
  width: 80%;
  margin: 0 auto;
  min-width: 1230px;
}
.main-left{
  position:absolute;top:60px;
  width: 10.5%;
  min-width: 160px;
  text-align: left;
  -webkit-box-flex: 0;-ms-flex: 0 0 200px;flex: 0 0 170px;
  height: 100%;
  background-color: white;
  z-index: 999;
}
.main-right{
  margin-left: 13%;
  padding: 20px 30px;
  overflow: scroll;
  background-color: rgb(246,246,246);
  -webkit-box-flex:1;
  -ms-flex:1;flex:1;
}
.el-menu{background-color: transparent!important;}
/* 路由切换动效 */
.fade-enter-active, .fade-leave-active {
  transition: all .5s;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}

.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-active {
  opacity: 0;
  transform: translateY(30px);
}
.item{
  margin-top: 10px;
  font-size: 10px;
  margin-right: 10px;
}
/*menu栏*/
.el-menu{
  background-color: transparent!important;
}
.menuImag{
  padding-right: 15px;
}
/*金融机构页面*/
.modifyRate .el-form-item__error{
  top:100%!important;
  left:2%!important;
}
.modifyRate .el-button--primary{
  width: 50%;
}
/*发货页面*/
.el-row:last-child {
  margin-bottom: 0;
}

.el-col {
  border-radius: 4px;
}

.bg-purple-dark {
  background: #99a9bf;
}

.bg-purple {
  background: #d3dce6;
}

.bg-purple-light {
  background: #e5e9f2;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
}

.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
/*allOrder页面*/
.mycard {
  width: 90% !important;
  float: inherit !important;
  margin: 10px auto !important;
  background-color: rgba(242, 242, 242, 1)
}

.mycard .el-row {
  margin-bottom: 0 !important;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.mycard .el-col {
  text-align: center;
  box-sizing: border-box;
  padding: 5px 0;
}

.row-black {
  background-color: rgba(215, 215, 215, 1);
}

.row-padding {
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-vertical {
  margin-top: 10px;
}
/*createOrder页面*/
.launchOrder .mybox {
  margin-bottom: 20px !important;
}

.launchOrder .el-form-item__label {
  width: 30% !important;
  float: none;
}

.launchOrder .el-select .el-input {
  width: 100% !important;
  margin: 0 0.2%!important;
}

.launchOrder .el-select, .el-input {
  width: 90% !important;
  margin: 0 2%!important;
}

.launchOrder .el-button {
  float: left;
  width: 30%;
  border-radius: 4px;
  margin: 20px 0;
}
.el-form-item__error {left:33% !important;top: 20%!important;}

.el-input__inner{
  width: 100% !important;
  height: 30px!important;
  border-color: #CCCCCC!important;
  border-radius: 2px!important;
}
.el-form-item__label{
  font-size: 12px!important;
}
.el-col-12{
  height:40px;
}
.el-checkbox__input{
  margin-left: 10px;
}
.launchOrder .el-row{
  height: 70px!important;
}
.launchOrder .el-card{
  border: 1px solid rgb(238,238,238)!important;
  padding-bottom: 10px!important;
}
.launchOrder .el-card__body{
  padding-bottom: 0!important;
}
/*orderDetail页面+进度条的样式*/
.collapseBtn {color: #666666;float: right !important;text-align: right !important;}
.rotate{
  transform-origin:center center;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: transform 0.2s; //过度时间 可调
-moz-transition: -moz-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
}
.rotate1{
  transform-origin:center center;
  transform: rotate(0deg); //返回原点
-webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition: transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
}
.collapseTop {
  margin-top: 10px;
}
.status-list {
  margin-left: 5px;
  text-align: left!important;
  position:relative;
  font-size: 12px;
  color: rgb(102,102,102)
}
.status-list:before {
  content: '';
  border: 2px solid rgba(0,148,218,1);
  background-color: rgba(255,255,255,1);
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-left: -4px;
  margin-right: 10px;
  position: absolute;
  top:-5px;
  z-index: 1000;
}
.status-list .el-col {
  height:30px;
  text-align: left !important;
  box-sizing: border-box !important;
  padding-top: 0;
  padding-left: 20px !important;
  border-left: 2px solid rgba(0,148,218,1);
  -webkit-border-radius:0 !important;
  -moz-border-radius:0 !important;
  border-radius:0 !important;
  position: relative;
}
.status-list .el-col span {
  position: absolute;
  top:-7px;
}

.modal-mask{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(55,55,55,.6);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-confirm{
  width: 690px!important;
  height: 320px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
}
.confirm-header{margin-left: 4%}
.confirm-content{padding: 10px 15px;}
@media only screen and (max-width: 640px) {
.modal-confirm{
width: 100%;
margin: 0 20px;
padding: 10px 20px;
}
}
.modal-enter, .modal-leave {
  opacity: 0;
}
.modal-enter-active, .modal-leave-active {
  transition: all .3s ease;
}
